In [3]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"

data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [4]:
data.shape

(99, 4)

In [6]:
x = data[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [11]:
y = data["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [12]:
x.shape

(99, 3)

In [0]:
train_x = x[:75]
train_y = y[:75]
test_x = x[75:]
test_y = y[75:]

In [19]:
print("Train set lenght %d and test set lenght %d" % (len(train_x), len(test_x)))

Train set lenght 75 and test set lenght 24

In [22]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("Accuracy %.2f%%"% accuracy)

Accuracy 95.83%

# Using the library for splitting data

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.25, random_state=SEED)
print("Train set lenght %d and test set lenght %d" % (len(train_x), len(test_x)))

model = LinearSVC()
model.fit(train_x, train_y)
predictions = model.predict(test_x)

accuracy = accuracy_score(test_y, predictions) * 100
print("Accuracy %.2f%%"% accuracy)

Train set lenght 74 and test set lenght 25
Accuracy 96.00%